<!DOCTYPE HTML>
<html>
 <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Climbing-App</title>
  </head>
  <body>
    <div class= "container">
      <%= link_to "Climbing App",root_path, class: "header-logo"%>
      <ul class="header-ul">
        <li><%= link_to "Gym", class: "ul"%></li>
        <li><%= link_to "Rock"%></li>
        <li><%= link_to "Login"%></li>
        <li><%= link_to "Sign Up"%></li>
    </div>

    <header>
    </header>
  </body>
</html>