<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
  <main>
  <div class="group-page">
  <div class="grouppage-body">
    <div class= "header-container">
      <%= link_to "Climbing App",root_path, class: "header-logo"%>
      <ul class="header-ul">
        <li class= "header-li"><%= link_to "Gym.",gym_information_index_path, class:"header-btn"%></li>
        <li class= "header-li"><%= link_to "Rock.",rock_information_index_path, class:"header-btn"%></li>
        <li class= "header-li"><%= link_to "Group.",group_index_path, class:"header-btn"%></li>
      <%# ログインしているときしていないときで分ける %>
      <% if user_signed_in?%>
        <li><%= link_to current_user.nickname, edit_user_registration_path, class: "user-nickname" , class:"header-btn"%></li>
        <li><%= link_to 'Logout.', destroy_user_session_path, method: :delete, class: "logout" , class:"header-btn"%></li>
      <% else %>
        <li class= "header-li"><%= link_to "Login.",new_user_session_path, class:"header-btn"%></li>
        <li class= "header-li"><%= link_to "Sign Up.",new_user_registration_path, class:"header-btn"%></li>
      <% end %>
      <%# ↑ログインしているときしていない表示切り替え %>
      </ul>
    </div>
  <div>

<div class ="container">
  <span class= "group">Group</span><br>
  <span>Slackでコミュニティーを作っています！</span><br>
  <h1></h1>
  <%# 購入されていないならこちらを表示 %>

  <%# 購入されているならこちらを表示 %>
  <% if Order.exists?(user_id: @user)%>
  <%= link_to("https://climbingteamhq.slack.com",class:"slack-btn") do%>
    <%= image_tag 'slack.png',size: '50×50', class: 'slack-btn-icon' %>
    <span class = "slack">SlackへのURL</span>
  <% end %>
  <% else %>
      <%= link_to 'Slackの参加はこちら', new_order_path%><br>
  <% end %>
</div>
</main>
</div>