<!DOCTYPE HTML>
<html>
 <head>
    <meta charset="UTF-8">
    
    <title>Climbing-App</title>
  </head>
  <body>
  <header>
<div class="rock-index">
 <div class="grouppage-body">
    <div class= "header-container">
      <%= link_to "Climbing App",root_path, class: "header-logo"%>
      <ul class="header-ul">
        <li class= "header-li"><%= link_to "Gym.",gym_information_index_path, class:"header-btn"%></li>
        <li class= "header-li"><%= link_to "Rock.",rock_information_index_path, class:"header-btn"%></li>
        <li class= "header-li"><%= link_to "Group.",group_index_path, class:"header-btn"%></li>
      <%# ログインしているときしていないときで分ける %>
      <% if user_signed_in?%>
        <li><%= link_to current_user.nickname, edit_user_registration_path, class: "user-nickname" , class:"header-btn"%></li>
        <li><%= link_to 'Logout.', destroy_user_session_path, method: :delete, class: "logout" , class:"header-btn"%></li>
      <% else %>
        <li class= "header-li"><%= link_to "Login.",new_user_session_path, class:"header-btn"%></li>
        <li class= "header-li"><%= link_to "Sign Up.",new_user_registration_path, class:"header-btn"%></li>
      <% end %>
      <%# ↑ログインしているときしていない表示切り替え %>
      </ul>
    </div>
  <div>
</div>

<div class="contents row">
<%= form_with(url: search_rock_information_index_path, local: true, method: :get, class: "search-form-post") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input-post" %>
  <%= form.submit "検索", class: "search-btn-post" %>
  <%= link_to '投稿へ', new_rock_information_path, class: "search-btn-post" %>
<% end %>
  <ul class = "gym-lists">
    <% if @rock[0] != nil %>
      <% @rock.each do |rock|%>
        <li class= "list">
          <%= link_to rock_information_path(rock.id) do %>
            <div class= "item-img-content">
              <% rock.images.each do |image|%>
                <%= image_tag image, class: 'gym-image'%>
              <%end%>
              <div class = "item-name">
                <%= rock.name%>
                <%= rock.region.name%>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
      <% else %>
        <%= '投稿されているものがありません。「投稿へ」ボタンまたは「トップページ」から投稿してください'%>
    <% end %>
  </ul>
</div>
    <footer>
    </footer>
  </body>
</html>