<%= form_with(model: @rock, url:rock_information_index_path, local: true) do |f| %>

  <div class="img-upload">
    <div class="weight-bold-text">
       岩場の写真
      <span class="indispensable">必須</span>
    </div>
    <div class="click-upload">
      <p>
        クリックしてファイルをアップロード
       </p>
      <%= f.file_field :image, id:"item-image" %>
    </div>
  </div>
  <%# /出品画像 %>

  <span>岩場の名前</span><br/>
  <%= f.text_field :name%><br/>

  <span>岩場の地域</span><br/>
  <%= f.collection_select(:region_id,Region.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br/>

  <span>岩質</span><br/>
  <%= f.collection_select(:rock_quality_id, RockQuality.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br/>

  <span>岩場の住所</span><br/>
  <%= f.text_field :address%><br/>

  <span>岩場のシーズン</span><br/>
  <%= f.collection_select(:season1_id, Season.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%>
  <%= "〜"%>
  <%= f.collection_select(:season2_id, Season.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br/>

  <span>ナイトクライミング</span><br/>
  <%= f.collection_select(:night_id, Night.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br>
  
  <span>全体的なグレード感</span><br>
  <%= f.collection_select(:grade_sence_id, GradeSence.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br>

  <%# この時間帯に関しては横並びにしてみる？？ 文字 下セレクト%>
  <span>人が少ない日</span><br>
  <%= f.collection_select(:people_day_id, Day.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br>

  <span>人が少ない時間</span><br>
  <%= f.collection_select(:people_time1_id, Hour.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%>
  <%= "〜"%>
  <%= f.collection_select(:people_time2_id, Hour.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br>

  <span>岩場の雰囲気</span><br>
  <%= f.collection_select(:people_vibe_id, Vibe.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br>
  <span>その他（岩場での注意•ルールなどあれば記述してください）</span><br>
  <%= f.text_field :other%><br>

  <%= f.submit "投稿する"%>
  <%=link_to 'もどる', root_path, class:"back-btn" %>
<% end %>
