<h1>岩情報詳細ページ</h1>
<% @rock.images.each do |image|%>
  <%= image_tag image,class: 'gym-images'%>
<% end %>
<% if user_signed_in? && @rock.user_id == current_user.id%>
  <%= link_to '編集', edit_rock_information_path, method: :get%>
  <%= link_to "削除", rock_information_path(@rock.id), method: :delete%>
<% end %>
<div class= "post-list">
<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">エリア名</th>
      <td class="detail-value"><%= @rock.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">スタイル</th>
      <td class="detail-value"><%= @rock.boulder_or_lead.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">地域</th>
      <td class="detail-value"><%= @rock.region.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">住所</th>
      <td class="detail-value"><%= @rock.address%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">岩質</th>
      <td class="detail-value"><%= @rock.rock_quality.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">シーズン</th>
      <td class="detail-value"><%= @rock.season1.name%>~<%= @rock.season2.name %></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">ナイトクライミング</th>
      <td class="detail-value"><%= @rock.night.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">課題のグレード感</th>
      <td class="detail-value"><%= @rock.grade_sence.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">人の少ない日</th>
      <td class="detail-value"><%= @rock.people_day.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">人の少ない時間帯</th>
      <td class="detail-value"><%= @rock.people_time1.name%>~<%= @rock.people_time2.name %></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">岩場の雰囲気</th>
      <td class="detail-value"><%= @rock.people_vibe.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">その他</th>
      <td class="detail-value"><%= @rock.other%></td>
    </tr>
  </tbody>
</table>
</div>

<%# #mapの表示 %>
<div id="map"></div>

<script type="text/javascript">
  function initMap() {
// latitude,longitudeから位置を特定
    var test ={lat: <%= @rock.latitude %>, lng: <%= @rock.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @rock.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

//  #Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

<%# #以下の記述の中にあるYOUR_API_KEYには取得したご自身のAPIキーを記述してください %>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
<%# #表示するmapのcssです。ご自身でカスタマイズしてください。高さが設定されていないと表示されないことがあります。 %>
<style type="text/css">
  #map { height: 50vh;
         width: 91vh;
         margin-left: 50vh;
         margin-bottom: 30px;}
</style>

<div class = "rock-tasks">
<h1><%= @rock.name%>課題情報</h1>
<%= link_to '課題の投稿はこちら',new_rock_information_rock_task_path(@rock.id) %>
</div>

<%# 課題一覧 %>
<div class = "rock-information">
<div class="contents row">
  <ul class = "gym-lists">
    <% @tasks.each do |task| %>
      <%= link_to rock_information_rock_task_path(task.id,@rock.id) do%> 
        <li class= "list">
          <% task.images.each do |image| %>
            <%= image_tag image%>
            <%= task.name%>
            <%= task.rock_task_grade.name%>
            <%= task.other%>
         <% end %>
         </li>
      <% end %> 
    <% end %>
  </ul>
</div>
</div>

  <div class="container-comments">
    <% if user_signed_in? %>
      <%= form_with(model: [@rock,@comment], local: true) do |form| %>
        <%= form.text_area :comment, placeholder: "コメントする", rows: "2",class: "comment-post" %>
        <%= form.submit "SEND",class:"btn btn--orange btn-c submit"%>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
    <h4>＜コメント一覧＞</h4>
    <% @comments.each do |comment| %>
      <p>
        <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
        <%= comment.comment %>
      </p>
     <% end %>
     </div>
  </div>