<h1>岩情報詳細ページ</h1>
<% @rocks.images.each do |image|%>
  <%= image_tag image,class: 'gym-images'%>
<% end %>
<% if user_signed_in? && @rocks.user_id == current_user.id%>
  <%= link_to '編集', edit_rock_information_path, method: :get%>
  <%= link_to "削除", rock_information_path(@rocks.id), method: :delete%>
<% end %>
<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">エリア名</th>
      <td class="detail-value"><%= @rocks.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">スタイル</th>
      <td class="detail-value"><%= @rocks.boulder_or_lead.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">地域</th>
      <td class="detail-value"><%= @rocks.region.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">住所</th>
      <td class="detail-value"><%= @rocks.address%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">岩質</th>
      <td class="detail-value"><%= @rocks.rock_quality.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">シーズン</th>
      <td class="detail-value"><%= @rocks.season1.name%>~<%= @rocks.season2.name %></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">ナイトクライミング</th>
      <td class="detail-value"><%= @rocks.night.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">課題のグレード感</th>
      <td class="detail-value"><%= @rocks.grade_sence.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">人の少ない日</th>
      <td class="detail-value"><%= @rocks.people_day.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">人の少ない時間帯</th>
      <td class="detail-value"><%= @rocks.people_time1.name%>~<%= @rocks.people_time2.name %></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">岩場の雰囲気</th>
      <td class="detail-value"><%= @rocks.people_vibe.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">その他</th>
      <td class="detail-value"><%= @rocks.other%></td>
    </tr>
  </tbody>
</table>

<h1><%= @rocks.name%>課題情報</h1>
<%= link_to '課題の投稿はこちら',new_rock_information_rock_task_path(@rocks.id) %>