<% content_for :head do %>
  <%= javascript_pack_tag "preview"%>
<% end %>
<div class = "post-page">
  <%= link_to "Climbing App",root_path, class: "post-header-logo"%>
  <div class = "post">
    <%= form_with(model: @gym, local: true) do |f| %>
      <%= render 'shared/error_messages', model: f.object%>
      <%# 画像 %>
  <ul>
  <div class="img-upload">
    <div class="weight-bold-text">
       ジムの写真
       <span class="indispensable">必須</span><br/>
    </div>
    <div class="click-upload">
      <p>
        クリックしてファイルをアップロード
      </p>
      <%= f.file_field :images, name:'gym_information[images][]', id:"item-image"%>
      <div id = "image-list"></div>
    </div>
  </div>
  <%# ↑画像 %>

  <span>現在投稿されている画像</span><br>
  <% @gym.images.each do |image| %>
    <%= image_tag image, class: 'images'%>
  <% end%><br>

  <span>•ジムの基本情報</span>
  <div class= "style">
    <span>スタイル</span>
    <span class="indispensable">必須</span><br/>
    <%= f.collection_select(:boulder_or_lead_id,BoulderOrLead.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br/>
  </div>

  <span>ジムの名前</span>
  <span class="indispensable">必須</span><br/>
  <%= f.text_field :name, class: "text-field"%><br/>

  <span>ジムの地域</span>
  <span class="indispensable">必須</span><br/>
  <%= f.collection_select(:region_id,Region.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br/>
  
  <span>ジムの住所</span>
  <span class="indispensable">必須</span><br/>
  <%= f.text_field :address, class: "text-field"%><br/>

  <span>営業時間</span>
  <span class="indispensable">必須</span><br/>
  <%= f.collection_select(:business_hours1_id,BusinessHours1.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%>〜<%= f.collection_select(:business_hours2_id,BusinessHours2.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br/>

  <span>全体的なグレード感</span>
  <span class="indispensable">必須</span><br>
  <%= f.collection_select(:grade_sence_id, GradeSence.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br>

  <span>人が少ない日</span>
  <span class="indispensable">必須</span><br>
  <%= f.collection_select(:people_day_id, PeopleDay.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br>

  <span>人が少ない時間</span>
  <span class="indispensable">必須</span><br>
  <%= f.collection_select(:people_time1_id, PeopleTime1.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%>
  <%= "〜"%>
  <%= f.collection_select(:people_time2_id, PeopleTime2.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br>

  <span>ジムの雰囲気</span>
  <span class="indispensable">必須</span><br>
  <%= f.collection_select(:people_vibe_id, PeopleVibe.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br>

  <span>店員さんの雰囲気</span>
  <span class="indispensable">必須</span><br>
  <%= f.collection_select(:clerk_vibe_id, ClerkVibe.all, :id, :name, {}, {class:"select-box", id:"grade-category"})%><br>
  
  <div class= "field">
    <span>ホームページのURL</span>
    <%= f.text_field :gym_url, class: "text-field"%><br/>
  </div>

  <div class= "field">
    <span>SNSのURL</span>
    <%= f.text_field :gym_sns_url, class: "text-field"%><br/>
  </div>
  
    <span>その他（ジムでの注意•ルールなどあれば記述してください）</span><br>
    <%= f.text_field :other, placeholder: '例)粉チョーク✕'%><br>
  </ul><br>
  <%= f.submit "更新する", class: "btn btn--orange btn-c"%>
  <%=link_to 'もどる', gym_information_path, class:"btn btn--orange btn-c" %>
<% end %>

</div>
</div>