<%= form_with(url: search_gym_information_index_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <ul class = "gym-lists">
    <% @gyms.each do |gym|%>
      <li class= "list">
        <%= link_to gym_information_path(gym.id) do %>
          <div class= "item-img-content">
            <% gym.images.each do |image|%>
              <%= image_tag image, class: 'gym-image'%>
            <%end%>
            <div class = "item-name">
              <%= gym.name%>
              <%= gym.region.name%>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>