<h1>ジム情報詳細ページ</h1>
<% @gyms.images.each do |image|%>
  <%= image_tag image,class: 'gym-images'%>
<% end %>
<% if user_signed_in? && @gyms.user_id == current_user.id %>
  <%= link_to '編集', edit_gym_information_path, method: :get%>
  <%= link_to '削除', gym_information_path(@gyms.id), method: :delete %>
<% end %>
<div class= "post-list">
<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">ジム名</th>
      <td class="detail-value"><%= @gyms.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">スタイル</th>
      <td class="detail-value"><%= @gyms.boulder_or_lead.name%></td>
    </tr>
  </tbody>
</table>


<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">地域</th>
      <td class="detail-value"><%= @gyms.region.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">住所</th>
      <td class="detail-value"><%= @gyms.address%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">営業時間</th>
      <td class="detail-value"><%= @gyms.business_hours1.name%>〜<%= @gyms.business_hours2.name %></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">課題の難しさ</th>
      <td class="detail-value"><%= @gyms.grade_sence.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">人の少ない日</th>
      <td class="detail-value"><%= @gyms.people_day.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">人の少ない時間</th>
      <td class="detail-value"><%= @gyms.people_time1.name%>~<%= @gyms.people_time2.name %></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">ジム(お客さんの雰囲気)</th>
      <td class="detail-value"><%= @gyms.people_vibe.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">店員さんの雰囲気</th>
      <td class="detail-value"><%= @gyms.clerk_vibe.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">ホームページ</th>
      <td class="detail-value"><%= link_to "#{@gyms.name}のホームページはこちら","#{@gyms.gym_url}", target: :_blank, rel: "noopener noreferrer" %></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">SNS</th>
      <td class="detail-value"><%= link_to "#{@gyms.name}のSNSはこちら", "#{@gyms.gym_sns_url}", target: :_blank, rel: "noopener noreferrer" %></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">その他</th>
      <td class="detail-value"><%= @gyms.other%></td>
    </tr>
  </tbody>
</table>
</div>

<div class="gmap">
  <h2>gmap</h2>

  <!-- 地名入力用のinputを追加 -->
  <input id="address" type="textbox" value="Sydney, NSW">

  <!-- buttonをクリックしたらcodeAddressを実行　-->
  <input type="button" value="Encode" onclick="codeAddress()">
  <div id='map'>
  </div>
</div>


<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

  let map
  let geocoder

  function initMap() {
    // geocoderを初期化
    // 引用者注:google.maps.Geocoderインスタンスを生成
    geocoder = new google.maps.Geocoder()

    // 引用者注:google.maps.Mapインスタンスを生成することで、地図のデフォルト位置(緯度経度、ズーム)を設定
    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: -34.397,
        lng: 150.644
      },
      zoom: 8
    });
  }

  function codeAddress() {
    // 入力を取得
    let inputAddress = document.getElementById('address').value;

    // geocodingしたあとmapを移動
    geocoder.geocode({
      'address': inputAddress
    }, function (results, status) {
      if (status == 'OK') {
        // map.setCenterで地図が移動
        map.setCenter(results[0].geometry.location);

        // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
        // google.maps.Markerインスタンスを生成
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>
// 引用者の判断でAPI keyは環境変数を利用
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer>
</script>