<h1>ジム情報詳細ページ</h1>
<% @gyms.images.each do |image|%>
  <%= image_tag image,class: 'gym-images'%>
<% end %>
<% if user_signed_in? && @gyms.user_id == current_user.id %>
  <%= link_to '編集', edit_gym_information_path, method: :get%>
  <%= link_to '削除', gym_information_path(@gyms.id), method: :delete %>
<% end %>
<div class= "post-list">
<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">ジム名</th>
      <td class="detail-value"><%= @gyms.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">スタイル</th>
      <td class="detail-value"><%= @gyms.boulder_or_lead.name%></td>
    </tr>
  </tbody>
</table>


<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">地域</th>
      <td class="detail-value"><%= @gyms.region.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">住所</th>
      <td class="detail-value"><%= @gyms.address%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">営業時間</th>
      <td class="detail-value"><%= @gyms.business_hours1.name%>〜<%= @gyms.business_hours2.name %></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">課題の難しさ</th>
      <td class="detail-value"><%= @gyms.grade_sence.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">人の少ない日</th>
      <td class="detail-value"><%= @gyms.people_day.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">人の少ない時間</th>
      <td class="detail-value"><%= @gyms.people_time1.name%>~<%= @gyms.people_time2.name %></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">ジム(お客さんの雰囲気)</th>
      <td class="detail-value"><%= @gyms.people_vibe.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">店員さんの雰囲気</th>
      <td class="detail-value"><%= @gyms.clerk_vibe.name%></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">ホームページ</th>
      <td class="detail-value"><%= link_to "#{@gyms.name}のホームページはこちら","#{@gyms.gym_url}", target: :_blank, rel: "noopener noreferrer" %></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">SNS</th>
      <td class="detail-value"><%= link_to "#{@gyms.name}のSNSはこちら", "#{@gyms.gym_sns_url}", target: :_blank, rel: "noopener noreferrer" %></td>
    </tr>
  </tbody>
</table>

<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">その他</th>
      <td class="detail-value"><%= @gyms.other%></td>
    </tr>
  </tbody>
</table>
</div>

<%# #mapの表示 %>
<div id="map" style="width: 92vh; height: 50vh;"></div>

<script type="text/javascript">
  function initMap() {
// latitude,longitudeから位置を特定
    var test ={lat: <%= @gyms.latitude %>, lng: <%= @gyms.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @gyms.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

//  #Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

<%# #以下の記述の中にあるYOUR_API_KEYには取得したご自身のAPIキーを記述してください %>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap&libraries=&v=weekly"
      async>
</script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<%# #表示するmapのcssです。ご自身でカスタマイズしてください。高さが設定されていないと表示されないことがあります。 %>
<style type="text/css">
  #map { height: 50vh;
         width: 91vh;
         margin-left: 50vh;
         margin-bottom: 30px;}
</style>